@use '../../abstracts' as *;

.distribution {
  &__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: rem(62);

    background: url('../../images/bg-after.jpg') top center no-repeat #0F0E0E;
    background-size: cover;
    border-radius: rem(24);

    padding: rem(92) rem(76);
    border: 1px solid rgba(229, 229, 229, 0.12);
    position: relative;
    z-index: 1;
    overflow: hidden;

    min-height: rem(500);

    @media screen and (max-width: 970px) {
      flex-direction: column;
    }

    @media screen and (max-width: 620px) {
      padding: rem(46);
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: rem(55);

      width: rem(380);
      max-width: 100%;
      height: rem(390);
      background: url('../../images/distribution-bg-after.png') top center no-repeat;
      background-size: cover;
      z-index: -1;
      pointer-events: none;
    }
  }

  &__bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    // z-index: -1;
    mix-blend-mode: color-dodge;
    pointer-events: none;

    div {
      position: absolute;
      width: rem(445);
      height: rem(440);
      background: url('../../images/distribution-after.png') center no-repeat;
      background-size: cover !important;
      // mix-blend-mode: color-dodge;

      @media screen and (max-width: 620px) {
        width: 60vw;
        background-size: contain !important;
        background-position: top !important;
      }

      &:nth-child(1),
      &:nth-child(2) {
        top: 0;
      }

      &:nth-child(3),
      &:nth-child(4) {
        bottom: 0;

        @media screen and (max-width: 620px) {
          display: none;
          background-position: bottom !important;
          bottom: 0 !important;
        }
      }

      &:nth-child(1) {
        left: rem(-2);
      }

      &:nth-child(2) {
        right: rem(-2);
        transform: scale(-1, 1);
      }

      &:nth-child(3) {
        left: rem(-2);
        transform: rotate(-90deg);
      }

      &:nth-child(4) {
        right: rem(-2);
        transform: rotate(-180deg);
      }
    }
  }

  &__leftside {
    display: flex;
    flex-direction: column;
    gap: rem(32);
    width: 100%;
    max-width: rem(440);

    @media screen and (max-width: 970px) {
      gap: rem(24);
      max-width: 100%;
    }
  }

  &__title {
    @media screen and (max-width: 970px) {

      .h2,
      h2 {
        margin-bottom: 0;
      }
    }
  }

  &__description {
    p {
      font-size: rem(20);
      font-weight: 600;
      letter-spacing: -0.03em;
    }
  }

  &__button {
    margin-top: rem(14);

    a,
    button {
      min-width: rem(320);
    }
  }

  &__rightside {}

  &__grid {
    @media screen and (max-width: 970px) {
      display: flex;
      flex-direction: column;
      gap: rem(8);
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: rem(14);
    border-radius: rem(16);
    padding: rem(42) rem(32);
    background: linear-gradient(150deg, #ededed 0%, #fff 47.27%, #fff 100%);
    color: #000000;
    min-height: rem(255);
    position: relative;
    z-index: 1;
    overflow: hidden;

    @media screen and (max-width: 970px) {
      min-height: auto;
    }

    @media screen and (max-width: 620px) {
      padding: rem(32);
    }

    &::after {
      content: '';
      width: rem(90);
      height: rem(110);
      background: url('../../images/distribution-item-after.png') center no-repeat;
      background-size: cover;
      pointer-events: none;

      position: absolute;
      top: 0;
      right: 0;

      @media screen and (max-width: 620px) {
        width: rem(60);
        height: rem(80);
        z-index: -1;
        opacity: .5;
      }
    }

    &-title {
      p {
        display: inline-flex;
        flex-direction: column;
        font-family: $font-family-heading;
        font-weight: 400;
        font-size: rem(34);
        line-height: 115%;
        text-transform: uppercase;

        @media screen and (max-width: 970px) {
          display: inline-block;
        }

        em {
          font-style: normal;
          background: linear-gradient(174deg, #d2310d 0%, #ff2f00 100%);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }

    &-info {
      p {
        font-size: rem(17);
        font-weight: 500;
        line-height: 155%;
        letter-spacing: -0.03em;
      }
    }
  }
}