@use '../../abstracts' as *;

.go {
  &__wrapper {
    border: 1px solid rgba(229, 229, 229, 0.12);
    border-radius: rem(24);
    padding: rem(76);
    background: url('../../images/bg-after.jpg') top center no-repeat #0f0e0e;
    background-size: cover;
    position: relative;
    // overflow: hidden;

    @media screen and (max-width: 970px) {
      padding-bottom: 0;
    }

    @media screen and (max-width: 620px) {
      padding: rem(42) rem(32);
      padding-bottom: 0;
      overflow: hidden;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      width: rem(690);
      height: rem(780);
      background: url('../../images/go-image.png') top center no-repeat;
      background-size: cover;
      pointer-events: none;

      @media screen and (max-width: 970px) {
        display: inline-flex !important;
        position: relative !important;
        width: 100% !important;
        height: rem(420) !important;
        background-size: contain !important;
        background-position: bottom !important;
        bottom: rem(-7) !important;
      }
    }

    .section__header {
      gap: rem(24);
      width: 100%;
      max-width: rem(690);

      @media screen and (max-width: 970px) {
        justify-content: center;
        align-items: center;
        text-align: center;
      }

      .section__description {
        font-size: rem(20);
        font-weight: 600;
      }
    }
  }

  &__form {
    margin-top: rem(42);
  }

  &__bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: calc(rem(0.5));
    left: calc(rem(0.5));
    top: 0;
    left: 0;
    mix-blend-mode: color-dodge;
    pointer-events: none;
    // border-radius: rem(24);
    // overflow: hidden;

    div {
      position: absolute;
      width: rem(445);
      height: rem(440);
      background: url('../../images/distribution-after.png') center no-repeat;
      background-size: cover !important;
      border-radius: rem(24);

      &:nth-child(1),
      &:nth-child(2) {
        top: 0;
      }

      &:nth-child(3),
      &:nth-child(4) {
        bottom: 0;
      }

      &:nth-child(1) {
        left: rem(-2);
      }

      &:nth-child(2) {
        right: rem(-2);
        transform: scale(-1, 1);
      }

      &:nth-child(3) {
        left: rem(-2);
        transform: rotate(-90deg);
      }

      &:nth-child(4) {
        right: rem(-2);
        transform: rotate(-180deg);
      }
    }
  }
}

.go2 {
  position: relative;
  z-index: 2;

  .go__wrapper {
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      width: rem(690);
      height: rem(780);
      background: url('../../images/go-img2.png') top center no-repeat;
      background-size: cover;
      pointer-events: none;
    }
  }

  .go__bg {
    top: rem(-1);
    left: rem(1);
    width: calc(100% - rem(2));
    height: calc(100% + rem(1));
  }
}