@use '../../abstracts' as *;

.hero {
  display: flex;
  align-items: flex-end;
  height: 100vh;
  max-height: rem(1400);
  // background: url('../../images/hero-background.jpg') 50% center no-repeat;
  // background-size: cover;

  position: relative;

  @media screen and (max-width: 1025px) {
    height: rem(690);
  }

  @media screen and (max-width: 620px) {
    height: rem(620);
  }

  // z-index: 1;

  // &::before {
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   z-index: -1;
  //   pointer-events: none;
  //   background: url('../../images/hero-background.jpg') 50% center no-repeat;
  //   background-size: cover;
  //   // mix-blend-mode: overlay;
  //   // opacity: .25;

  //   animation: herobg 10s linear infinite;
  // }

  &::after {
    content: '';
    position: absolute;
    top: calc(50% - rem(100));
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: rem(1560);
    height: rem(228);
    z-index: -1;
    pointer-events: none;
    background: url('../../images/hero-after.svg') 50% center no-repeat;
    background-size: contain;
    mix-blend-mode: overlay;
    opacity: .25;

    @media screen and (max-width: 620px) {
      top: auto;
      bottom: 20%;
      width: 90vw;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: rem(32);
    width: 100%;
    max-width: rem(920);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vh;

    position: relative;
    z-index: 1;

    @media screen and (max-width: 1025px) {
      margin-bottom: 0;
      gap: rem(24);
    }

    @media screen and (max-width: 620px) {
      gap: rem(12);
    }

    &::after {
      content: '';
      position: absolute;
      // bottom: -6vh;
      bottom: rem(-70);
      left: 0;
      width: 100%;
      height: 90vh;
      max-height: rem(1400);
      z-index: -1;
      pointer-events: none;
      background: url('../../images/hero-image.png') 50% center no-repeat;
      background-size: contain;

      animation: hero 1s ease-in-out;

      will-change: transform, opacity, filter;
      backface-visibility: hidden;

      @media screen and (max-width: 1025px) {
        height: rem(600);
      }

      @media screen and (max-width: 620px) {
        bottom: rem(10);
      }
    }
  }

  &__title {
    text-align: center;

    @media screen and (max-width: 1025px) {
      max-width: rem(620);
    }

    h1 {
      margin-bottom: 0;

      span.icon--fire {
        display: inline-block;
        width: rem(48);
        height: rem(60);
        background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nNDgnIGhlaWdodD0nNjAnIHZpZXdCb3g9JzAgMCA0OCA2MCcgZmlsbD0nbm9uZScgeG1sbnM9J2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnJz48cGF0aCBkPSdNMzUuNTk0IDE3LjIwODNDNDEuODQ1OSAyNC45MjAyIDQ4Ljk5NjIgMzQuMzY2NiA0Ni42MjUyIDQ0Ljk0ODZDNDYuMDMzNSA0Ny42NTIgNDQuODUzMyA1MC4xOTE3IDQzLjE2ODYgNTIuMzg3MkM0MS40ODE3IDU0LjU2MzYgMzkuMzUwNSA1Ni4zNTU3IDM2LjkxNyA1Ny42NDQxQzM0LjQ4MzQgNTguOTMyNSAzMS44MDMzIDU5LjY4NzggMjkuMDU1MSA1OS44NTk2QzI5LjA2MTkgNTkuODU1NCAyOS4wNjg3IDU5Ljg1MTIgMjkuMDc1NSA1OS44NDcxQzMwLjgzNDcgNTguNzY2NyAzMi4xNDE3IDU3LjA4MzcgMzIuNzUyNyA1NS4xMTEyQzMzLjM2NjEgNTMuMTMxMSAzMy4yMzYxIDUwLjk5NTIgMzIuMzg2OSA0OS4xMDQxQzMwLjEwMzMgNDQuMTEyNiAyNS42MzU5IDQwLjQ2ODcgMjMuNTM5NSAzNS4zNjQ5QzIxLjQ0MyA0MC40Njg3IDE2Ljk3NTYgNDQuMTEyNiAxNC42OTIgNDkuMTA0MUMxMy44NDMzIDUwLjk5MDggMTMuNzEwOSA1My4xMjIgMTQuMzE5NSA1NS4wOTkyQzE0LjkyODEgNTcuMDc2NCAxNi4yMzYxIDU4Ljc2NDIgMTcuOTk4OSA1OS44NDcxQzE1LjI3MjUgNTkuNjYxNyAxMi42MTY0IDU4LjkwMSAxMC4yMDUzIDU3LjYxNUM3Ljc5NDE3IDU2LjMyOSA1LjY4Mjc5IDU0LjU0NjkgNC4wMTAxNCA1Mi4zODZDMi4zMzk5MiA1MC4yMjA2IDEuMTY0MzIgNDcuNzE1NiAwLjU2NTk5MiA0NS4wNDcyQy0xLjM5MzE4IDM2LjQyNDQgMi4wMDEwNSAyOC4wNjQ4IDYuNjQzMTcgMjAuOTI1N0M2Ljg4MDI2IDIzLjUyMTMgOS43MzA0MSAzMi40NDggMTAuNzUzNyAzNC44NDM5QzExLjU5MDYgMzAuNjQ3MSA4LjQxODk2IDI2LjAzMDggMTIuODk1IDE2LjQ4MzJDMTcuOTk4OSA1LjU5Njc0IDIzLjM1MjMgMy4xNDQ2NiAzMS4yMjY0IDBDMjkuODE2MyA1LjYxNTQ2IDMxLjEwMTYgMTEuNTU1NCAzNC42OTU1IDE2LjA5NzdDMzQuOTk1IDE2LjQ1OTUgMzUuMjk0NSAxNi44MzUxIDM1LjU5NCAxNy4yMDgzWicgZmlsbD0nI0ZGQTAwMCcgLz48cGF0aCBkPSdNMzUuNTk0IDE3LjIwODNDNDEuODQ1OSAyNC45MjAyIDQ4Ljk5NjIgMzQuMzY2NiA0Ni42MjUyIDQ0Ljk0ODZDNDYuMDMzNSA0Ny42NTIgNDQuODUzMyA1MC4xOTE3IDQzLjE2ODYgNTIuMzg3MkM0MS40ODE3IDU0LjU2MzYgMzkuMzUwNSA1Ni4zNTU3IDM2LjkxNyA1Ny42NDQxQzM0LjQ4MzQgNTguOTMyNSAzMS44MDMzIDU5LjY4NzggMjkuMDU1MSA1OS44NTk2QzI5LjA2MTkgNTkuODU1NCAyOS4wNjg3IDU5Ljg1MTIgMjkuMDc1NSA1OS44NDcxQzMwLjgzNDcgNTguNzY2NyAzMi4xNDE3IDU3LjA4MzcgMzIuNzUyNyA1NS4xMTEyQzMzLjM2NjEgNTMuMTMxMSAzMy4yMzYxIDUwLjk5NTIgMzIuMzg2OSA0OS4xMDQxQzMwLjEwMzMgNDQuMTEyNiAyNS42MzU5IDQwLjQ2ODcgMjMuNTM5NSAzNS4zNjQ5QzIxLjQ0MyA0MC40Njg3IDE2Ljk3NTYgNDQuMTEyNiAxNC42OTIgNDkuMTA0MUMxMy44NDMzIDUwLjk5MDggMTMuNzEwOSA1My4xMjIgMTQuMzE5NSA1NS4wOTkyQzE0LjkyODEgNTcuMDc2NCAxNi4yMzYxIDU4Ljc2NDIgMTcuOTk4OSA1OS44NDcxQzE1LjI3MjUgNTkuNjYxNyAxMi42MTY0IDU4LjkwMSAxMC4yMDUzIDU3LjYxNUM3Ljc5NDE3IDU2LjMyOSA1LjY4Mjc5IDU0LjU0NjkgNC4wMTAxNCA1Mi4zODZDMi4zMzk5MiA1MC4yMjA2IDEuMTY0MzIgNDcuNzE1NiAwLjU2NTk5MiA0NS4wNDcyQy0xLjM5MzE4IDM2LjQyNDQgMi4wMDEwNSAyOC4wNjQ4IDYuNjQzMTcgMjAuOTI1N0M2Ljg4MDI2IDIzLjUyMTMgOS43MzA0MSAzMi40NDggMTAuNzUzNyAzNC44NDM5QzExLjU5MDYgMzAuNjQ3MSA4LjQxODk2IDI2LjAzMDggMTIuODk1IDE2LjQ4MzJDMTcuOTk4OSA1LjU5Njc0IDIzLjM1MjMgMy4xNDQ2NiAzMS4yMjY0IDBDMjkuODE2MyA1LjYxNTQ2IDMxLjEwMTYgMTEuNTU1NCAzNC42OTU1IDE2LjA5NzdDMzQuOTk1IDE2LjQ1OTUgMzUuMjk0NSAxNi44MzUxIDM1LjU5NCAxNy4yMDgzWicgZmlsbD0ndXJsKCNwYWludDBfbGluZWFyXzEyMl81NTgpJyAvPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0ncGFpbnQwX2xpbmVhcl8xMjJfNTU4JyB4MT0nMjMuNTQ1MycgeTE9Jy04Ljk0MDdlLTA3JyB4Mj0nNTguMjA1MycgeTI9JzYxLjIwNTknIGdyYWRpZW50VW5pdHM9J3VzZXJTcGFjZU9uVXNlJz48c3RvcCBzdG9wLWNvbG9yPScjRTVBRTQwJyAvPjxzdG9wIG9mZnNldD0nMScgc3RvcC1jb2xvcj0nI0ZGMkYwMCcgLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48L3N2Zz4=") center no-repeat;
        background-size: cover;
        margin-left: rem(-4);
        margin-right: rem(-4);
        animation: fire 0.7s ease-in-out;

        will-change: opacity;
        backface-visibility: hidden;

        @media screen and (max-width: 1025px) {
          width: rem(32);
          height: rem(40);
        }
      }
    }
  }

  &__description {
    display: flex;
    align-items: center;
    gap: rem(20);
    text-align: center;
    margin-bottom: rem(16);

    &::before,
    &::after {
      content: '';
      font-size: var(--font-size-2xl) / 1.2;
      color: $light-color;
      opacity: 0.2;

      animation: symbols 2.25s ease-in-out infinite;

      will-change: transform, opacity;
      backface-visibility: hidden;
    }

    &::before {
      content: '[';
    }

    &::after {
      content: ']';
    }

    p {
      font-size: calc(var(--font-size-2xl) * 0.85);
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__before {
    position: absolute;
    bottom: rem(-70);
    left: 0;
    width: rem(330);
    height: rem(380);
    background: url('../../images/hero-before.png') center no-repeat;
    background-size: cover;
    pointer-events: none;

    @media screen and (max-width: 1025px) {
      width: rem(200);
      background-size: contain;
    }

    @media screen and (max-width: 620px) {
      width: rem(100);
    }
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    aspect-ratio: 1680 / 1290;
    z-index: -2;
    pointer-events: none;
    background: url('../../images/hero-background.jpg') top center no-repeat;
    background-size: contain;
    animation: herobg 10s linear infinite;

    will-change: transform;
    backface-visibility: hidden;

    @media screen and (max-width: 1025px) {
      background-size: cover;
    }

    @media screen and (max-width: 620px) {
      bottom: 10%;
      top: auto;
    }
  }
}