@use '../../abstracts' as *;

.start {
  // background: url('../../images/start-before.jpg') top right no-repeat $dark-color;
  // background-size: cover;

  &__grid {
    counter-reset: item 0;

    @media screen and (max-width: 970px) {
      display: flex;
      flex-direction: column;
      gap: rem(12);
    }
  }

  &__item {
    border-radius: rem(14);
    padding: rem(42) rem(36) rem(80);
    background: radial-gradient(170.25% 171.12% at 0% 0%, rgba(33, 32, 32, 0.703) 6.71%, rgba(15, 14, 14, 0.565) 45.12%);
    backdrop-filter: blur(rem(12));
    position: relative;
    counter-increment: item 1;

    @media screen and (max-width: 970px) {
      display: flex;
      align-items: center;
      padding: rem(42);
      padding-right: rem(200);
    }

    @media screen and (max-width: 620px) {
      flex-direction: column-reverse;
      gap: rem(24);
      padding: rem(32);
      padding-top: rem(24);
      text-align: center;
    }

    &::before {
      content: '0' counter(item);
      position: absolute;
      top: rem(20);
      right: rem(20);
      @include heading(2.8rem);
      text-align: right;
      opacity: .15;

      @media screen and (max-width: 970px) {
        display: none;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: rem(16);

    @media screen and (max-width: 620px) {
      align-items: center;
      gap: rem(10);
    }
  }

  &__title {
    p {
      @include heading(rem(34));
      margin-bottom: 0;

      @media screen and (max-width: 970px) {
        font-size: rem(30);
      }
    }
  }

  &__description {
    p {
      font-size: calc(var(--font-size-base) * 1.05);
      font-weight: 600;
    }
  }

  &__icon {
    position: absolute;
    bottom: rem(-50);
    right: rem(10);

    @media screen and (max-width: 970px) {
      bottom: auto;
      right: rem(20);
    }

    @media screen and (max-width: 620px) {
      position: relative;
      right: 0;
      top: 0;
    }

    img {
      width: rem(160);
      height: rem(160);
      pointer-events: none;

      @media screen and (max-width: 970px) {
        width: rem(140);
        height: rem(140);
      }
    }
  }
}