@use '../abstracts' as *;

.footer {
  padding-top: rem(80);
  padding-bottom: rem(80);

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    gap: 1.5rem;

    @media screen and (max-width: 970px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    justify-content: space-between;

    @media screen and (max-width: 970px) {
      width: 100%;
      align-items: center;
    }
  }

  &__logo {
    img {
      pointer-events: none;
    }
  }

  &__info {
    p {
      margin-bottom: 0;
    }
  }

  &__copy {}

  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;

    @media screen and (max-width: 970px) {
      width: 100%;
      align-items: center;
    }

    span {
      display: inline-block;
      opacity: .4;
      margin-bottom: 1rem;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: rem(10);
    margin-bottom: rem(12);

    @media screen and (max-width: 970px) {
      flex-direction: row;
      margin-bottom: rem(42);
      gap: rem(24);
    }
  }

  &__button {
    margin-top: auto;

    @media screen and (max-width: 970px) {
    
    }
  }

  &__socials {
    display: flex;
    align-items: center;
    gap: rem(6);
    margin-bottom: rem(12);

    @media screen and (max-width: 970px) {
      margin-bottom: rem(42);
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: rem(56);
      height: rem(56);
      border-radius: rem(12);
      border: rem(2) solid rgba(255, 255, 255, 0.12);

      @media (hover:hover) {
        &:hover {
          border-color: rgba(255, 255, 255, 0.05);

          img {
            opacity: .8;
          }
        }
      }

      img {
        width: rem(32);
        height: rem(32);
        transition: opacity 0.2s ease-in-out;
      }
    }
  }

  &__conf {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: rem(10);
    margin-top: auto;

    a {
      text-decoration: underline;
    }
  }
}