@use '../abstracts' as *;
@use 'sass:color';

.header {
  position: absolute;
  top: rem(40);
  width: 100%;
  z-index: 555;

  &.fixed {
    position: fixed;

    .header__wrapper {
      background: rgba(15, 14, 14, 0.8);
      backdrop-filter: blur(rem(12));
      padding: 0.75rem;
      border-radius: 1rem;

      .header__logo {
        mix-blend-mode: exclusion;
      }

      .header__nav ul {
        // background: none;
        // backdrop-filter: none;

        &::before {
          display: none;
        }
      }
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    img {
      width: auto;
      height: rem(56);
      pointer-events: none;
    }
  }

  &__nav {
    ul {
      display: flex;
      align-items: center;
      gap: $spacing-lg;
      list-style: none;
      background: $gray-900;
      background: rgba(15, 14, 14, 0.9);
      backdrop-filter: blur(rem(12));
      border: rem(2) solid rgba($light-color, 0.06);
      border-radius: rem(12);
      padding: rem(14) rem(32);
      position: relative;
      overflow: hidden;
      z-index: 1;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        pointer-events: none;
        background: url('../../images/webp/bg-after.webp') 100% 60% no-repeat;
        background-size: cover;
        mix-blend-mode: luminosity;
        opacity: .3;
      }

      li {
        padding: 0;
        margin: 0;

        a {
          padding: 0;
          margin: 0;
        }
      }
    }
  }

  &__socials {
    display: flex;
    align-items: center;
    gap: $spacing-md / 2;

    span {
      font-size: $font-size-base;
      margin-right: $spacing-md / 2;

      &::before {
        display: inline-block;
        content: '';
        position: relative;
        top: rem(-1);
        margin-right: $spacing-md / 1.5;
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 100%;
        background: $gradient-primary;
        animation: opacityPulse 2s ease-in-out infinite;
      }
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: rem(56);
      height: rem(56);
      border-radius: rem(12);
      border: rem(1) solid rgba($light-color, 0.12);
    }
  }
}