@use '../layout/home/hero' as *;
@use '../layout/home/start' as *;
@use '../layout/home/found' as *;
@use '../layout/home/distribution' as *;
@use '../layout/home/promotion' as *;
@use '../layout/home/calculator' as *;
@use '../layout/home/go' as *;
@use '../layout/home/facts' as *;
@use '../layout/home/experience' as *;
@use '../layout/home/team' as *;
@use '../layout/home/faq' as *;
@use '../layout/home/end' as *;