@use 'variables' as *;

// Convert px to rem
@function rem($pixels) {
  @if unitless($pixels) {
    $pixels: $pixels * 1px;
  }

  @return calc($pixels / 16px * 1rem);
}

// Convert px to em
@function em($pixels, $context: 16px) {
  @if unitless($pixels) {
    $pixels: $pixels * 1px;
  }

  @if unitless($context) {
    $context: $context * 1px;
  }

  @return calc($pixels / $context * 1em);
}

// Get color with opacity
@function rgba-color($color, $opacity) {
  @return rgba($color, $opacity);
}

// Strip units from number
@function strip-unit($number) {
  @if type-of($number)=='number' and not unitless($number) {
    @return calc($number / ($number * 0 + 1));
  }

  @return $number;
}

// Fluid typography
@function fluid-size($min-size, $max-size, $min-width: 320px, $max-width: 1200px) {
  $min-size: strip-unit($min-size);
  $max-size: strip-unit($max-size);
  $min-width: strip-unit($min-width);
  $max-width: strip-unit($max-width);

  $slope: calc(($max-size - $min-size) / ($max-width - $min-width));
  $intercept: calc($min-size - $slope * $min-width);

  @return clamp(#{$min-size}px, #{$slope} * 100vw + #{$intercept}px, #{$max-size}px);
}

// Map deep get
@function map-deep-get($map, $keys...) {
  @each $key in $keys {
    $map: map-get($map, $key);
  }

  @return $map;
}