@use '../abstracts' as *;

// Основные стили body
body {
  min-height: 100vh;
  background-color: $dark-color;
  color: $light-color;
  overflow-x: hidden;

  // Для темной темы
  .theme-dark & {
    background-color: $gray-900;
    color: $gray-100;
  }
}

main {
  overflow: hidden;
}

// Контейнер
.container {
  @extend %container;
}

// Сетка
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$spacing-md;
  margin-right: -$spacing-md;
}

// Колонки
@for $i from 1 through 12 {
  .col-#{$i} {
    flex: 0 0 calc(100% * #{$i} / 12);
    max-width: calc(100% * #{$i} / 12);
    padding-left: $spacing-md;
    padding-right: $spacing-md;
  }

  .col-offset-#{$i} {
    margin-left: calc(100% * #{$i} / 12);
  }
}

// Отзывчивые колонки
@each $breakpoint, $value in $breakpoints {
  @include respond-to($breakpoint) {
    @for $i from 1 through 12 {
      .col-#{$breakpoint}-#{$i} {
        flex: 0 0 calc(100% * #{$i} / 12);
        max-width: calc(100% * #{$i} / 12);
      }
    }
  }
}

// Основные утилиты
.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.w-auto {
  width: auto;
}

.h-auto {
  height: auto;
}

// Display
.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}

// Position
.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.position-fixed {
  position: fixed;
}

.position-sticky {
  position: sticky;
}

// Text alignment
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

// Font weight
.fw-normal {
  font-weight: $font-weight-normal;
}

.fw-medium {
  font-weight: $font-weight-medium;
}

.fw-semibold {
  font-weight: $font-weight-semibold;
}

.fw-bold {
  font-weight: $font-weight-bold;
}

// Margin и Padding утилиты
$spacing-sizes: (
  '0': 0,
  'xs': $spacing-xs,
  'sm': $spacing-sm,
  'md': $spacing-md,
  'lg': $spacing-lg,
  'xl': $spacing-xl,
  '2xl': $spacing-2xl,
  '3xl': $spacing-3xl
);

@each $name, $size in $spacing-sizes {
  .m-#{$name} {
    margin: $size;
  }

  .mt-#{$name} {
    margin-top: $size;
  }

  .mb-#{$name} {
    margin-bottom: $size;
  }

  .ml-#{$name} {
    margin-left: $size;
  }

  .mr-#{$name} {
    margin-right: $size;
  }

  .mx-#{$name} {
    margin-left: $size;
    margin-right: $size;
  }

  .my-#{$name} {
    margin-top: $size;
    margin-bottom: $size;
  }

  .p-#{$name} {
    padding: $size;
  }

  .pt-#{$name} {
    padding-top: $size;
  }

  .pb-#{$name} {
    padding-bottom: $size;
  }

  .pl-#{$name} {
    padding-left: $size;
  }

  .pr-#{$name} {
    padding-right: $size;
  }

  .px-#{$name} {
    padding-left: $size;
    padding-right: $size;
  }

  .py-#{$name} {
    padding-top: $size;
    padding-bottom: $size;
  }
}

// Автоматические отступы
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mt-auto {
  margin-top: auto;
}

.mb-auto {
  margin-bottom: auto;
}

// Visibility
.visually-hidden {
  @extend %visually-hidden;
}

.visually-hidden-focusable {
  @extend %visually-hidden;

  &:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
    white-space: normal;
  }
}

// Clearfix
.clearfix {
  @extend %clearfix;
}

// Text truncate
.text-truncate {
  @extend %text-truncate;
}

.pt {
  &--120 {
    padding-top: rem(120);
  }
}

.pb {
  &--120 {
    padding-bottom: rem(120);
  }
}